<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Nam An Market</title>
  <link rel="stylesheet" href="/css/index.css" />
  <link rel="stylesheet" href="/fontawesome-free-5.15.4-web/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</head>

<body>
  <div class="wapper">
    <header>
      <div class="header_top">
        <div class="logo">
          <a href="/"><img src="/images/logoFooter-removebg-preview.png" alt="" /></a>
        </div>
        <div class="seachbox">
          <form action="/apiproduct/search" method="post">
            <div class="seach">
              <input type="search" name="title"
                placeholder="Tìm Kiếm sản phẩm, thương hiệu hay nhãn hàng bạn muốn..." />
            </div>
          
          <span><button type="submit"><i class="fas fa-search"></i></button></span>
          </form>
        </div>
        <div class="cart">
          <span class="demSP"></span>
          <div class="nencart">
            <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
        <div class="hotline">
          <p>Hotline: 0961022334</p>
        </div>

        <div class="dangnhap">

        </div>
      </div>
      <div class="header_menu">
        <div id="toggle"><i class="fas fa-bars"></i></div>
        <nav>
          <ul>
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="/product">Sản Phẩm</a></li>
            <li><a href="/lienhe">Liên Hệ</a></li>
            <li><a href="/about">Về Chúng tôi</a></li>
            <li><a href="/baiviet">Bài Viết</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="container_img">
        <div id="slideshow">
          <div class="slide-wrapper">
            <div class="slide"><img src="/images/banner.jpg" /></div>
            <div class="slide"><img src="/images/banner1.png" /></div>
          </div>
        </div>
        <div class="img">
          <img src="/images/banner-right-2.png" alt="" />
          <img src="/images/banner-right-5.png" alt="" />
          <img src="/images/banner-right-10.png" alt="" />
        </div>
      </div>
    </div>

    <div class="hot">
      <div class="title">
        <h2>Sản phẩm hot</h2>
        <hr />
      </div>
      <div class="sanphamhot sphot"></div>
    </div>

    <div class="New">
      <div class="title">
        <h2>Sản phẩm new</h2>
        <hr />
      </div>
      <div class="sanphamhot spnew"></div>
    </div>

    <div class="seenMax">
      <div class="title">
        <h2>Sản phẩm xem nhiều nhất</h2>
        <hr />
      </div>
      <div class="sanphamhot spview"></div>
    </div>
    <div class="indexTinKhuyenMai">
      <div class="title">
        <h2>TIN TỨC KHUYẾN MÃI</h2>
        <hr />
      </div>
      <div class="khuyenmai">
        <div class="khuyenmai1">
          <div class="anh">
            <a href=""><img src="./images/chm-to-roi_d4e77d5976404207af44ca25c291a2c2_master.png" alt="" /></a>
          </div>
          <div class="info">
            <a href="">
              <p>
                NAM AN MARKET KHAI TRƯƠNG THỬ NGHIỆM CỬA HÀNG MỚI TẠI QUẬN 7
                <br />
                <i class="fas fa-calendar-alt"></i> NGÀY 20/12/2021 |
              </p>
            </a>
            <button>XEM THÊM >></button>
          </div>
        </div>
        <div class="khuyenmai2">
          <div class="anh">
            <a href=""><img src="./images/social-media_2_907b695133d44e99962422e039456759_master_1.png" alt="" /></a>
          </div>
          <div class="info">
            <a href="">
              <p>
                Thưởng thức hương vị hảo hạng từ Australia tại Nam An
                Market<br />
                <i class="fas fa-calendar-alt"></i> NGÀY 2/1/2022 |
              </p>
            </a>
            <button>XEM THÊM >></button>
          </div>
        </div>
      </div>
    </div>

    <div class="indexShip">
      <form action="" onsubmit="return KiemTra()">
        <label for="">Liên hệ với chúng tôi</label><br /><br />
        <input type="text" placeholder="Nhập họ và tên" id="name" /><br />
        <div id="loi1"></div>
        <br />
        <input type="tel" id="phone" placeholder="Nhập số điện thoại" /><br />
        <div id="loi2"></div>
        <br />
        <textarea name="text" cols="46" rows="5" id="note" maxlength="200"></textarea><br />
        <div id="loi3"></div>
        <br />
        <button onclick="kiemtra();">Gửi</button>
      </form>
    </div>
    <footer>
      <div class="phanhoi">
        <form action="">
          <input type="email" placeholder="Nhập email vào đây để được hỗ trợ" />
          <a href=""><i class="fas fa-envelope"></i></a>
        </form>
      </div>
      <div class="foter">
        <div class="logo">
          <img src="./images/logoFooter-removebg-preview.png" alt="" /><br />
          <i class="fas fa-phone-alt"></i> 0961022334 <br />
          <i class="fas fa-envelope"></i> namanmarket@gmail <br />
          <div class="lienhevstoi">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
        <div class="foterphai">
          <div class="gioithieu">
            <h3>GIỚI THIỆU</h3>
            <p>VỀ CHÚNG TÔI</p>
            <p>TIN TỨC AN NAM</p>
            <p>HÌNH ẢNH</p>
            <p>TUYỂN DỤNG</p>
            <p>HOẠT ĐỘNG XÃ HỘI</p>
          </div>
          <div class="songkhoe">
            <h3>SỐNG KHỎE</h3>
            <p>KIẾN THỨC SẢN PHẨM</p>
            <p>CẨM NANG SỐNG KHỎE</p>
            <p>CÔNG THỨC NẤU ĂN</p>
          </div>

          <div class="giomocua">
            <h3>GIỜ MỞ CỬA</h3>
            <p>
              21 Thảo Điền, Phường Thảo Điền, Thành phố Thủ Đức
              <br />
              7h00 – 21h30 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              303 Nguyễn Văn Trỗi, Phường 1, Quận Tân Bình
              <br />
              8h00 – 22h00 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              06 Nguyễn Thị Minh Khai, Phường Đakao ,Quận 1
              <br />
              7h00 – 21h30 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              Số 46, Khu Dân Cư Hưng Phúc (Lô S10 – 2), Nguyễn Lương Bằng, Tân
              Phú, Quận 7, TP. HCM
              <br />
              7h00 – 21h00 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>

</html>
<script src="./js/kiemtra.js"></script>
<script type="text/javascript" src="/js/json/showProIndex.js"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<script>
  if (`<%= us %>`) {
    if (`<%= avata %>`) {
      document.querySelector(".dangnhap").innerHTML = `
      <a href="/login"> <img src="/images/<%= avata %>"/> </a>
      <a href="/apiuser/thoat" class="logout">Đăng xuất</a>
      `
    } else {
      document.querySelector(".dangnhap").innerHTML = `
      <a href="/login"> <i class="fas fa-user-circle"></i> </a>
      <a href="/apiuser/thoat" class="logout">Đăng xuất</a>
      `
    }
  } else {
    document.querySelector(".dangnhap").innerHTML = `<a href="/login"> <i class="fas fa-user-circle"></i> </a>`
  }
</script>