<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nam An Market</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/traicay.css" />
    <link
      rel="stylesheet"
      href="/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="./js/index.js"></script>
  </head>
  <body>
    <div class="wapper">
      <header>
        <div class="header_top">
          <div class="logo">
            <a href="/"
              ><img src="/images/logoFooter-removebg-preview.png" alt=""
            /></a>
          </div>
          <div class="seachbox">
            <form action="">
              <div class="seach">
                <input
                  type="search"
                  placeholder="Tìm Kiếm sản phẩm, thương hiệu hay nhãn hàng bạn muốn..."
                />
              </div>
            </form>
            <span
              ><button><i class="fas fa-search"></i></button
            ></span>
          </div>
          <div class="cart">
            <span class="demSP"></span>
            <div class="nencart">
              <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>
          <div class="hotline">
            <p>Hotline: 0961022334</p>
          </div>

          <div class="dangnhap">
            <script src="/js/json/showAvata.js"></script>
          </div>
        </div>
        <div class="header_menu">
          <div id="toggle"><i class="fas fa-bars"></i></div>
          <nav>
            <ul>
              <li><a href="/">Trang Chủ</a></li>
              <li><a href="/product">Sản Phẩm</a></li>
              <li><a href="/lienhe">Liên Hệ</a></li>
              <li><a href="/about">Về Chúng tôi</a></li>
              <li><a href="/baiviet">Bài Viết</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <div class="container">
        <div class="container_img">
          <div id="slideshow">
            <div class="slide-wrapper">
              <div class="slide"><img src="/images/banner.jpg" /></div>
              <div class="slide"><img src="/images/banner1.png" /></div>
            </div>
          </div>
          <div class="img">
            <img src="/images/banner-right-2.png" alt="" />
            <img src="/images/banner-right-5.png" alt="" />
            <img src="/images/banner-right-10.png" alt="" />
          </div>
        </div>
      </div>
      <div class="menumain">
        <ul>
          <li><a href="/">TRANG CHỦ /</a></li>
          <li><a href="/product">SẢN PHẨM /</a></li>
          <li><a href="">Sản Phẩm Hot</a></li>
        </ul>
      </div>
      <div class="main">
        <aside>
          <div class="asidemenubottom">
            <ul class="menuTraiCay"></ul>
          </div>
        </aside>
        <main>
          <div class="tieudetrang">
            <h3>SẢN PHẨM HOT</h3>
            <div class="menutieudetrang">
              <ul>
                <li>
                  <a href=""><i class="fas fa-star-half-alt"></i>Mới </a>|
                </li>
                <li>
                  <a href=""><i class="fas fa-gift"></i>Khuyến Mãi </a>|
                </li>
                <li>
                  <a href=""><i class="fas fa-leaf"></i>Thực Phẩm Chay </a>
                </li>
              </ul>
              <br />
            </div>
          </div>
          <div class="sanphamtraicay"></div>
        </main>
      </div>
    </div>

    <div class="indexShip"></div>
    <footer>
      <div class="phanhoi">
        <form action="">
          <input type="email" placeholder="Nhập email vào đây để được hỗ trợ" />
          <a href=""><i class="fas fa-envelope"></i></a>
        </form>
      </div>
      <div class="foter">
        <div class="logo">
          <img src="/images/logoFooter-removebg-preview.png" alt="" /><br />
          <i class="fas fa-phone-alt"></i> 0961022334 <br />
          <i class="fas fa-envelope"></i> namanmarket@gmail <br />
          <div class="lienhevstoi">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-instagram-square"></i>
            <i class="fas fa-envelope"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
        </div>
        <div class="foterphai">
          <div class="gioithieu">
            <h3>GIỚI THIỆU</h3>
            <p>VỀ CHÚNG TÔI</p>
            <p>TIN TỨC AN NAM</p>
            <p>HÌNH ẢNH</p>
            <p>TUYỂN DỤNG</p>
            <p>HOẠT ĐỘNG XÃ HỘI</p>
          </div>
          <div class="songkhoe">
            <h3>SỐNG KHỎE</h3>
            <p>KIẾN THỨC SẢN PHẨM</p>
            <p>CẨM NANG SỐNG KHỎE</p>
            <p>CÔNG THỨC NẤU ĂN</p>
          </div>

          <div class="giomocua">
            <h3>GIỜ MỞ CỬA</h3>
            <p>
              21 Thảo Điền, Phường Thảo Điền, Thành phố Thủ Đức
              <br />
              7h00 – 21h30 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              303 Nguyễn Văn Trỗi, Phường 1, Quận Tân Bình
              <br />
              8h00 – 22h00 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              06 Nguyễn Thị Minh Khai, Phường Đakao ,Quận 1
              <br />
              7h00 – 21h30 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
              Số 46, Khu Dân Cư Hưng Phúc (Lô S10 – 2), Nguyễn Lương Bằng, Tân
              Phú, Quận 7, TP. HCM
              <br />
              7h00 – 21h00 Từ Thứ Hai đến Chủ Nhật
              <br /><br />
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script type="text/javascript" src="/js/json/showProduct.js"></script>
<script type="text/javascript" src="/js/json/showCategory.js"></script>
<script type="text/javascript" src="/js/cart.js"></script>
<script>
  if(`<%= us %>`){
    if(`<%= avata %>`){
      document.querySelector(".dangnhap").innerHTML = `
      <a href="/login"> <img src="/images/<%= avata %>"/> </a>
      <a href="/apiuser/thoat" class="logout">Đăng xuất</a>
      `
    }else{
      document.querySelector(".dangnhap").innerHTML = `
      <a href="/login"> <i class="fas fa-user-circle"></i> </a>
      <a href="/apiuser/thoat" class="logout">Đăng xuất</a>
      `
    }
  }else{
    document.querySelector(".dangnhap").innerHTML = `<a href="/login"> <i class="fas fa-user-circle"></i> </a>`
  }
</script>